* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  background-color: initial;
  border: 1px solid back;
}

::-webkit-scrollbar-thumb{
  background-color: #555;
  border-radius: 20px;  
}

#in-card{
  color: #0eb464;
}

#out-card{
  color: #df4a4a;
}

#total-card{
  color: #13b9d6;
}