* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  background-color: initial;
  border: 1px solid back;
}

::-webkit-scrollbar-thumb{
  background-color: #7d7d7d;
  border-radius: 20px;  
}

#ElementMoneyLeft{
  width: 17%;
  justify-content: left;
}


#in-card{
  color: #0eb464;
}

#out-card{
  color: #df4a4a;
}

#total-card{
  color: #13b9d6;
}

#brl-div{
  line-height: 10px;
  & img{
    object-fit: cover;
    object-position: 0px -1px;
    height: 40px;
  }
}

#usd-div{
  line-height: 5px;
  & img{
    object-fit: cover;
    object-position: 0px 10px;
    height: 40px;
  }
}

#eur-div{
  & img{
    height: 30px;
  }
}

#btc-div{
  line-height: 20px;
  & img{
    object-fit: cover;
    object-position: 0px 1px;
    height: 28px;
  }
}